* {
    margin: 0 auto;
    padding: 0 auto;
}

html {background-color: lightgray;}

#agenda {
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 50%;
    padding: 30px;
}

#form-register {
    display: none;
    margin: 0 auto;
    width: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    display: block;
}

.img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.img-avatar:hover {
    scale: 0.98;
    cursor: pointer;
}

#contacts-list {
    margin: 0 auto;
    width: 50%;
    padding: 5px;
}

#contacts-list table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

#contacts-list table tr {
    border: 1px solid #000;
}

#contacts-list table td {
    padding: 5px;
}

.btn-remove-contact {
    cursor: pointer;
    text-align: center;
    border: none !important;
    width: 16px !important;
}